<%= form_for @comment, :url => book_comments_path(@book) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Write your own comment</p>
  <p><%= f.text_area :text, :cols => 60, :rows => 5 %></p>
  <p><%= f.label :name, "Name:" %><%= f.text_field :name %>
  <p><%= f.button 'Submit' %></p>

<%- end -%>